
*, *:before, *:after {
 	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	color: #6D6E71;
	font-family: 'Roboto Slab', serif;
	font-size: 22pt;
	padding-top: 10px;
}

h2, 
h3,
p {
	font-family: 'Roboto Slab', serif;	
}

.rank-status {
	font-family: 'Open Sans', sans-serif;
}

.display-count {
	height: 10px;
}

/*header styles*/

header {
	background: #E5F3F2;
	text-align: center;
}

.accent-color {
	color: #00A79D;
}

.input {
	border: 2px solid #D1D3D4;
	height: 33px;
	margin: 10px 10px 5px 10px;
	padding: 10px 5px;
	width: 85%;
}

.search-input {
	margin-top: 15px;
}

input::placeholder {
	color: #CFD8DC;
	font-size: 13pt;
}

.body-input {
	height: 78px;
}

.button {
	background: #00A79D;
	border: none;
	color: #FFFFFF;	
	font-size: 18px;
	height: 35px;
	margin: 10px 10px 20px 10px;
	width: 85%;
}

.show-completed {
	background-color: #00A79D;
	border: none;
	color: #fff;
	display: block;
	font-size: 18px;
	height: 35px;
	margin: 20px auto;
	width: 85%;
}

.rank-button {
	background-color: #E0E4E4;
	border: none;
	color: #6D6E71;
	font-size: 14px;
	height: 22px;
	margin: 10px 5px;
	width: 16%;
}

.completed {
	background-color: #E5F3F2;
	border: none;
	color: #7B6E71;
	margin-top: 10px;
}

.button:hover {
	background: #045E55;
}

.show-completed:hover {
	background: #045E55;
}

/*main container styles*/

.container {
	margin-top: 5px;
	text-align: center;
}

.icon {
	height: 25px;
	width: 25px;
}

h2 {
	color: #6D6E71;
	font-size: 18px;
}

.card {
	margin: 20px auto;
	padding-top: 5px;
	text-align: left;
	width: 85%;
}

.icon-buttons {
	height: 25px;
	margin-right: 15px;
	width: 25px;
}

.delete-button-div {
	background:url('../images/delete.svg');
}

.delete-button-div:hover {
	background: url('../images/delete-hover.svg');
}

.delete-button {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
}

.upvote-button-div {
	background: url('../images/upvote.svg') 0 0 no-repeat;
}

.upvote-button-div:hover {
	background:url('../images/upvote-hover.svg') 0 0 no-repeat;
}

.downvote-button-div {
	background: url('../images/downvote.svg');
}

.downvote-button-div:hover {
	background: url('../images/downvote-hover.svg');
}

.rank {
	color: #6D6E71;
	display: flex;
	flex-direction: row;
	font-size: 10pt;
}

.card-body {
	color: #939598;
	font-size: 12pt;
	margin: 10px auto 20px auto;	
}

.strike-through {
	text-decoration: line-through red;
	text-decoration-style: wavy; 
}

hr {
	border: 1px solid #D1D3D4;
	margin-top: 20px;
} 

.card-display-none {
	display: none;
}

.filter-important {
	color: #6D6E71;
}


/*breakpoints*/
@media only screen and (min-width: 800px){

h1 {
	font-size: 27pt;
	margin-bottom: 20px;
	padding-top: 18px;
}

.input {
	font-size: 18px;
	height: 30px;
	margin: 5px 15px;
	width: 50%;
}

.search-input {
	margin-top: 15px;
}

.button {
	font-size: 17px;
	height: 28px;
	width: 50%;
}

.card {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.show-completed {
	display: block;
	font-size: 17px;
	height: 28px;
	margin: 10px auto;
	width: 50%;
}

.rank-button {
	font-size: 14px;
	height: 22px;
	margin: 10px 7px;
	width: 9%;
}

.completed {
	height: 20px;
	margin-top: 10px;
}


}






